<div class="bg-hero h-[45vh] mb-[48px] flex items-center justify-center">
    <div class="text-center flex items-center justify-center flex-col">
        <h1 class=" mb-5 text-white nunito font-extrabold text-6xl">{{pageTitle}}</h1>
        <ol class="text-center text-white uppercase flex space-x-2 font-medium">
            <li>
                <a class="text-orange" routerLink="/home">HOME</a>
            </li>
            <li>/</li>
            <li>
                <a class="text-orange" routerLink="/home">PAGES</a>
            </li>
            <li>/</li>
            <li>
                {{pageTitle}}
            </li>
        </ol>
    </div>
</div>