<footer class="bg-[#0F172B] text-white">
    <div class="max-w-7xl mx-auto mt-12 py-12">
        <div class="grid grid-cols-4">
            <div class="mt-12">
                <h1 class="footer-row">Company</h1>
            </div>
            <div class="mt-12">
                <h1 class="footer-row">Title</h1>
            </div>
            <div class="mt-12">
                <h1 class="footer-row">Title</h1>
            </div>
            <div class="mt-12">
                <h1 class="footer-row">Title</h1>
            </div>
        </div>
    </div>
</footer>