<footer class="bg-[#0F172B] text-white px-5 lg:px-0">
    <div class="max-w-7xl mx-auto mt-12 py-12">
        <div class="grid grid-cols-1 lg:grid-cols-4 mb-12">
            <div class="mt-12">
                <h1 class="footer-row">Company</h1>
                <ul>
                    <li class="footer-row--item">About Us</li>
                    <li class="footer-row--item">Contact Us</li>
                    <li class="footer-row--item">Reservation</li>
                    <li class="footer-row--item">Privacy Policy</li>
                    <li class="footer-row--item">Terms & Condition</li>
                </ul>
            </div>
            <div class="mt-12">
                <h1 class="footer-row">Contact</h1>
                <ul>
                    <li class="flex space-x-2">
                        <fa-icon icon="addressIcon" />
                        <p>123 Street, New York, USA</p>
                    </li>
                    <li class="flex space-x-2">
                        <fa-icon icon="addressIcon" />
                        <p>+012 345 67890</p>
                    </li>
                    <li class="flex space-x-2">
                        <fa-icon icon="addressIcon" />
                        <p>infoatexample.com</p>
                    </li>
                </ul>
            </div>
            <div class="mt-12">
                <h1 class="footer-row">Opening</h1>
                <h5 class="text-[20px] font-bold nunito">Monday - Saturday</h5>
                <p class="font-medium">09AM - 09PM</p>

                <h5 class="text-[20px] font-bold nunito mt-3">Sunday</h5>
                <p class="font-medium">10AM - 08PM</p>
            </div>
            <div class="mt-12">
                <h1 class="footer-row">Newsletter</h1>
                <p class="font-medium">Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
            </div>
        </div>
        <div class="border-t border-t-gray-100 border-opacity-[0.2] py-[25px]">
            <p class="font-medium">© Your Site Name, All Right Reserved. Designed By HTML Codex</p>
        </div>
    </div>

</footer>