<header class="hidden lg:block h-[92px] absolute top-0 left-0 right-0">
  <nav class="max-w-6xl mx-auto justify-center h-full items-center flex">
    <div class="flex flex-1">
      <fa-icon [icon]="foodIcon" class="text-orange text-4xl mr-2" />
      <h1 class="nunito text-4xl font-bold text-orange">Restaurant</h1>
    </div>
    <ul class="uppercase font-medium hidden lg:flex text-white space-x-6 items-center">
      @for (route of routes; track route.path) {
      <li>
        <a routerLink={{route.path}} routerLinkActive="text-orange">{{route.label}}</a>
      </li>
      } @empty {
      <li>There are no routes.</li>
      }

      <app-button label="BOOK NOW" />
    </ul>
  </nav>

  @if (showFixedHeader) {
  <nav
    class="hidden lg:block bg-[#0F172B] animate__animated animate__bounceInDown  fixed top-0 left-0 right-0 text-white z-[999]">
    <div class="max-w-7xl mx-auto py-5 flex items-center">
      <div class="flex flex-1">
        <fa-icon [icon]="foodIcon" class="text-orange text-4xl mr-2" />
        <h1 class="nunito text-4xl font-bold text-orange">Restaurant</h1>
      </div>
      <ul class="flex space-x-5 items-center">
        @for (route of routes; track route.path) {
        <li>
          <a (click)="scrollTop()" class=" uppercase font-medium" routerLink={{route.path}}
            routerLinkActive="text-orange">{{route.label}}</a>
        </li>
        } @empty {
        <li>There are no routes.</li>
        }
        <app-button label="BOOK NOW" />
      </ul>
    </div>
  </nav>
  }
</header>

<header class="lg:hidden px-5 py-5 flex justify-between bg-dark-blue">
  <div class="flex">
    <fa-icon [icon]="foodIcon" class="text-orange text-3xl mr-3" />
    <h1 class="nunito text-3xl font-extrabold text-orange">Restaurant</h1>
  </div>
  <fa-icon class="text-[#ffffff60] text-2xl border border-[#ffffff60] px-2 rounded" [icon]="hambIcon" />
</header>