<div class="pt-[48px] bg-hero">
    <div class="max-w-7xl py-12 my-12 mx-auto grid grid-cols-1 lg:grid-cols-2">
        <div class="text-center lg:text-left px-6 text-white px-5 flex justify-center flex-col">
            <h1 class="max-w-[300px] mx-auto lg:max-w-full  text-center lg:text-left nunito leading-tight text-4xl  lg:text-[64px] font-extrabold text-white">
                Enjoy Our
                Delicious Meal
            </h1>
            <h2 class="text-center lg:text-left mb-5">
                Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat
                ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
            </h2>
            <app-button className="!py-4 !px-10" label="BOOK A TABLE" />
        </div>
        <div class="px-6 mt-10 lg:mt-0">
            <img src="https://themewagon.github.io/restoran/img/hero.png" class=" h-auto max-w-full animate-spin"
                style="animation-duration: 50s;" />
        </div>
    </div>
</div>